:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 200px;
}

@font-face {
  font-family: 'ArchivoNarrow';
  src: url('/public/assets/fonts/ArchivoNarrow-Regular.ttf');
}

@font-face {
  font-family: 'ArchivoNarrowBold';
  src: url('/public/assets/fonts/ArchivoNarrow-Bold.ttf');
}

@font-face {
  font-family: 'ArchivoNarrowSemiBold';
  src: url('/public/assets/fonts/ArchivoNarrow-SemiBold.ttf');
}

@font-face {
  font-family: 'ArchivoNarrowMedium';
  src: url('/public/assets/fonts/ArchivoNarrow-Medium.ttf');
}